﻿@model TechBlog.Models.PostViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManagePostsLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}

@Html.DisplayForModel("PostDetail")



