﻿@model TechBlog.Models.PostFormViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManagePostsLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "ManagePosts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("Id", Model.Id)
        @Html.HiddenFor(p => p.RowVersion)
        <div class="form-group">
            @Html.LabelFor(model => model.Tagname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tagname, new { htmlAttributes = new { @class = "form-control", @id = "tag", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Tagname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <ul id="listtags" class="list-inline">
                    @foreach(var tag in Model.Tags)
                    {
                        <li>
                            <button type="button" class="btn">@tag.Name</button>
                            <input type="hidden" name="Tags.Index" value="a + @tag.Id" />
                            <input type="hidden" name="Tags[a + @tag.Id].Name" value="@tag.Name" />
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", ViewBag.Category as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @id = "myEditor" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="form-control" type="file" name="file" accept="image/*">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
