﻿@using PagedList.Mvc;
@using PagedList; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagePostsLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in ViewBag.OnePageOfUserPosts)
    {
        @Html.DisplayFor(m => item, "PostMeta")
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfUserPosts, page => Url.Action("Index", "ManagePosts", new { page }))