﻿body {
    padding-bottom: 0px;
}
#brand {
    font-weight: 800
}
#searchbox {
    min-width: 300px;
    max-width: 360px;
    width: 100%;
}
#a{
    padding-top:20px;
}
#banner {
    background-color: #9f0101;
    color: #ffffff;
}
#category{
    font-size: 40px;
}
img {
    width: 100%;
    max-height: 300px;
}
#footercolor {
    background-color: #3c3d41;
    color: white;
}
.footer {
    
    /*right: 0;
    bottom: 0;
    left: 0;*/
}
#copyright {
    background-color: #333333;
    color: white;
}

.image:hover {
    opacity: 0.3;
}

p {
    word-break: break-all
}

.author {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background .1s ease-in-out;
    display: inline-block;
    margin: 0;
    padding: 7px 29px;
    background: #9f0101;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    min-width: 179px;
    max-width: 100%;
    z-index: 2;
}
.display {
    display: block;
    clear: both;
    position: relative;
    margin-bottom: 18px;
    height: 250px;
    overflow: hidden;
}

a.nostyle:link {
    text-decoration: inherit;
    color: white;
    cursor: auto;
}
#link:hover {
    color: darkgray;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.searchresult{
    margin-right:0px;
}

.searchbutton{
    padding: 3px 6px;
}

#tag {
    padding: 20px 20px;
    font-size: 20px;
}

#tagname{
    font-size:20px;
}
