﻿@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "GetUserPosts";
}

<h2>@ViewBag.UserName</h2>

<div class="row">
    @foreach (var item in ViewBag.OnePageOfUserPosts)
    {
        @Html.DisplayFor(m => item, "PostMeta")
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfUserPosts, page => Url.Action("GetUserPosts", "Posts", new { page, ViewBag.UserName }))