﻿@{
    ViewBag.Title = "SearchPage";
}

<h2>SearchPage</h2>

@using (Ajax.BeginForm("SearchResult", new { controller = "Posts" }, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "searchresult"
}, new { id = "formsearch" }))
{
    <div class="form-inline">
        @Html.DropDownList("option", ViewBag.option as SelectList, new { @class = "form-control" })
        <input id="searchinput" class="form-control" name="term" />
    </div>
}
<h3>Result</h3>
<hr />
<div id="searchresult" class="row">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}