﻿@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Details";
}

<h2>
    <i id="category" class="fa fa-tags" aria-hidden="true"> Tag: @ViewBag.TagName</i>
</h2>
<br />
<div class="row">
    @foreach (var post in ViewBag.OnePageOfTagPosts)
    {
        @Html.DisplayFor(m => post, "PostMeta")
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfTagPosts, page => Url.RouteUrl("SlugRoute", new
                                                                                {
                                                                                    controller = "Tags",
                                                                                    id = ViewBag.Id,
                                                                                    urlslug = ViewBag.UrlSlug,
                                                                                    page = page
                                                                                }))

