﻿@using Microsoft.AspNet.Identity;
@model BlogDTO.CommentDTO
@{
    ViewBag.Title = "_CommentPartial";
    ViewBag.CommentId = "comment" + Model.Id;
}
@if (Model != null)
{
    <div id="@ViewBag.CommentId" class="row">
        <div class="form-inline">
            @if (Request.IsAuthenticated && User.Identity.GetUserName() == Model.Username)
            {
                using (Ajax.BeginForm("Delete", "Comments", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = ViewBag.CommentId
                }))
                {
                    @Html.AntiForgeryToken()
                    <input name="Id" type="hidden" value="@Model.Id" />
                    <button type="submit" class="pull-right btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                }
            }
            <h3>
                <i class="fa fa-comment"></i> @Model.Username says:
                <small> @Model.CommentedOn</small>
            </h3>
        </div>
        <p>@Model.Body</p>
        <hr />
    </div>
}
