﻿<footer class="footer">
    <div id="footercolor" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h2>CONTACT</h2>
                <p>Tech Blog.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Viet Nam</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
            <div class="col-sm-6">
                <h2>SHORTUTS</h2>
                <a id="link" class="nostyle" href="@Url.Action("Signup", "Account")">
                    <p>Sign Up</p>
                </a>
                <a id="link" class="nostyle" href="@Url.Action("Login", "Account")">
                    <p>Login</p>
                </a>
                <a id="link" class="nostyle" href="@Url.Action("RecentPosts", "Posts")">
                    <p>Recent Posts</p>
                </a>
            </div>
        </div>
    </div>
    <div id="copyright" class="text-center">
        &copy; @DateTime.Now.Year - &copy;Copyright ASP.NET MVC khon
    </div>
</footer>
