﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_LoginPartial";
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "ManagePosts")">
                    @User.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "ManagePosts")">New Post</a></li>
                    <li><a href="@Url.Action("Index", "ManagePosts")">Your Posts</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id = "registerLink" href="@Url.Action("Signup", "Account")" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a id = "loginLink" href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
}