﻿@model TechBlog.Models.SearchResultViewModel
@{ 
    ViewBag.Title = "_SearchResultPartial";
}
@if (Model.posts != null)
{
    foreach (var post in Model.posts)
    {
    @Html.DisplayFor(p => post, "Postmeta")
    }
}
@if (Model.tags != null)
{
    foreach (var tag in Model.tags)
    {
        <div class="col-md-3">
            <a id="tag" class="btn btn-default" href="/Tags/@tag.Id/@tag.UrlSlug">@tag.Name <span id="tagname" class="badge badge-info"> @tag.NumberOfPosts</span></a>
        </div>
    }
}