﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_SearchPartial";
}

<div class="navbar-form navbar-left form-group">
    <select name="title" id="searchbox" class="search-select2"></select>

    <a href="@Url.Action("SearchPage", "Posts")" class="btn btn-default searchbutton"><span class="glyphicon glyphicon-search"></span></a>
</div>


    

