﻿@using Microsoft.AspNet.Identity;
@model IEnumerable<TechBlog.Models.CategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <h2><i id="category" class="fa fa-dot-circle-o" aria-hidden="true"> @item.Name</i></h2>
        
        <div class="row">
            @foreach(var post in item.Posts)
            {
                @Html.DisplayFor(m => post, "PostMeta")
            }
        </div>
        <a class="btn btn-danger" href="/Categories/@item.Id/@item.UrlSlug">
            See more @item.Name <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        <br />
        <hr />
    }
}
            