﻿@using PagedList.Mvc;
@using PagedList; 

@{
    ViewBag.Title = "Details";
}

<h2>
    <i id="category" class="fa fa-dot-circle-o" aria-hidden="true"> @ViewBag.CategoryName</i>
</h2>
<br />
<div class="row">
    @foreach (var post in ViewBag.OnePageOfCategoryPosts)
    {
        @Html.DisplayFor(m => post, "PostMeta")
    }
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfCategoryPosts, page => Url.RouteUrl("SlugRoute", new
                                                                                    {
                                                                                        controller = "Categories",
                                                                                        id = ViewBag.Id,
                                                                                        urlslug = ViewBag.UrlSlug,
                                                                                        page = page
                                                                                    }
                                                                                    ))

