﻿@using Microsoft.AspNet.Identity;
@model TechBlog.Models.PostMetaViewModel

@{
    ViewBag.Title = "PostMeta";
}

<div class="col-md-4">
    <div class="display">
        <a href="/Posts/@Model.Id/@Model.UrlSlug">
            <img class="image" src="@Model.PostImageSrc" />
            <span class="author">by @Model.Username</span>
        </a>
    </div>
    <a href="/Posts/@Model.Id/@Model.UrlSlug"><h2>@Model.Title</h2></a>
    <p>@Model.ShortDescription</p>
    @if (Request.IsAuthenticated && User.Identity.GetUserName() == Model.Username)
    {
        <p>
            <a class="btn btn-default" href="@Url.Action("Edit", "ManagePosts", new  { id=Model.Id, urlslug=Model.UrlSlug })">Edit &raquo;</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", "ManagePosts", new  { id=Model.Id, urlslug=Model.UrlSlug })">Delete &raquo;</a>
        </p>
    }
</div>
