﻿@model TechBlog.Models.PostViewModel

@{
    ViewBag.Title = "PostDetail";
}
<div class="row">
    <div class="col-lg-8">
        <h1>@Model.Title</h1>
        <p class="lead">
            <i class="fa fa-user"></i> by <a href="@Url.Action("GetUserPosts", "Posts", new { UserName=Model.Username })">@Model.Username</a>
        </p>
        <hr>
        <p><i class="fa fa-calendar"></i> Posted on @Model.PostedOn</p>
        <p><i class="fa fa-tags"></i> Tags: 
        @foreach (var tag in Model.Tags)
        {
        <a href="/Tags/@tag.Id/@tag.UrlSlug"><span class="badge badge-info">@tag.Name</span></a>
        }
        </p>
        <br />
        <hr>
        @Html.Raw(@Model.Body)
        <hr>
        <div id="commentbody">
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_CommentPartial", comment)
            }
        </div>
        <div class="well">
            <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>

            @using (Ajax.BeginForm("Create", "Comments", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertBefore,
                UpdateTargetId = "commentbody"
            }))
            {
                @Html.Hidden("PostId", Model.Id)
                <div class="form-group">
                    <textarea id="commentb" name="Body" class="form-control" rows="3"></textarea>
                </div>
                if (Request.IsAuthenticated)
                {
                    <button id="addcomment" type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
                }
            }
        </div>
    </div>
    <div class="col-lg-4">
        <div class="well">
            <h4><i class="fa fa-tags"></i> Popular Tags:</h4>
            <div class="row">
                @foreach (var tag in Model.PopularTags)
                {
                    <div class="col-lg-6">
                        <a href="/Tags/@tag.Id/@tag.UrlSlug"><span class="badge badge-info">@tag.Name</span></a>
                    </div>
                }
            </div>
        </div>
       
        <div class="well">
            <h4><i class="fa fa-fire"></i> Recent Posts:</h4>
            <ul>
                @foreach (var post in Model.RecentPosts)
                {
                    <li><a href="/Posts/@post.Id/@post.UrlSlug">@post.Title</a></li>
                }
            </ul>
        </div>
        </div>

</div>